

body {
	background-color: #F1F0EA;
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; 
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	margin-top: 0px;
	display: flex;
	flex-direction: column;
}

#menu {
	position: absolute;
	top: 0px;
}

#navBar {
	position: fixed;
	top: 0px;
	z-index: 2;
}

#lineLength {}

h1 {
	font-family: 'GFS Didot', serif;
	font-size: 64px;
	font-weight: normal;
	width: 182px;
	height: 80px;
	position: relative;
	margin: 12px 36px 12px 36px;
	color: #900201;
	display: inline-block;
}

h2 {
	font-family: 'GFS Didot', serif;
	font-size: 45px;
	font-weight: normal;
	margin-top: 6px;
	margin-bottom: 6px;
	color: #900201
}

p {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 20px;
	hyphens: auto;
	hyphenate-limit-chars: 9; 
	text-align: justify; 
	word-spacing: -0.5px;
	margin: 8px 0px 8px 0px;
}

a {
	font-family: "Montserrat", sans-serif;
	color: #020402;
	font-size: 12px;
	text-decoration: none;
}

img {
	min-height: 350px;
	max-height: 500px;
	max-width: 100%;
	object-fit: cover;
	display: block;
	margin: auto;
}

button {
	text-decoration: none;
	color: none;
	color: #000;
	background-color: rgba(1, 1, 1, 0);
	border: none;
	padding: 0px;
}

.normalize-a {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 20px;
	hyphens: auto;
	hyphenate-limit-chars: 9; 
	text-align: justify; 
	word-spacing: -0.5px;
	margin: 8px 0px 8px 0px;
}

/*
*div classes
*/

.display-none {
	display: none;
}

.container {
	position: relative;
	display: block;
	max-width: 1400px;
	margin: auto;
	top: 0px;
	overflow: hidden;
	flex: 1 0 auto;
}

.vh-margin-bottom {
	margin-bottom: 40vh;
}

.navigation {
	background-color: #F1F0EA;
	width: 252.5px;
	height: 208px;
	position: absolute;
	top: 0px;
}

.l {
	background-color: #020402;
	width: 200px;
	height: 1px;
	margin: 0px 23px 12px 23px;
	position: absolute;
	top: 105px;
}

.home {
	color: #020402;
	width: 38px;
	height: 15px;
	top: 120px;
	left: 20px;
	position: absolute;
}

.hll {
	background-color: #020402;
	height: 0.5px;
	width: 40px;
	top: 147px;
	left: 20px;
	position: absolute;
}

.services {
	color: #020402;
	width: 50px;
	height: 15px;
	top: 160px;
	left: 20px;
	position: absolute;
}

.about {
	color: #020402;
	width: 59px;
	height: 15px;
	top: 120px;
	left: 175px;
	position: absolute;
}

.hlr {
	background-color: #020402;
	height: 0.5px;
	width: 58px;
	top: 147px;
	left: 174px;
	position: absolute;
}

.contact {
	color: #020402;
	width: 67px;
	height: 15px;
	top: 160px;
	left: 164px;
	position: absolute;
}

.selected {
	font-weight: bold;
}

.selected.contact {
	width: 69px;
	left: 163px;
}

.headlines {
	padding-top: 4%;
	margin-bottom: 3%;
	padding-left: 4%;
	padding-right: 4%;
}

.healine1 {

}

.healine2 {
	margin-left: 21.5%;
}

.healine3 {
	margin-left: 43%;
}

.text-box-home {
	background-color: #ffffff;
	min-height: 400px;
	max-width: 1800px;
	margin: auto;
}

.text-box-inside {
	max-width: 1800px;
	margin: auto;
}

.text-in-box-home {
	padding-left: 6%;
	padding-bottom: 4%;
	padding-right: 6%;
	text-align: justify;
}

.headlines-about {
	padding-top: 4%;
	margin-bottom: 3%;
	padding-left: 6%;
	padding-right: 4%;
}

.text-box-about {
	background-color: #ffffff;
	min-height: 400px;
	max-width: 76%;
	float: right;
	margin-top: 250px;
}

.text-in-box-about {
	width: 40%;
	padding-left: 6%;
	padding-bottom: 5%;
	padding-right: 0%;
	display: inline-grid;
}

.bottom-image {
	width: 100%;
	height: 200px;
	margin-bottom: -10px;
}

.headline-box-services {
	background-color: #ffffff;
	text-align: center;
	width: 100%;
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.title-on-image {
	max-height: 400px;
	width: 100%;
	position: relative;

}

.title-on-image img {
	opacity: 30%;
	max-height: 400px;
	z-index: 0;
	top: 0px;
	transition: opacity 0.5s linear;
}

.title-on-image p {
	visibility: visible;
	margin: 0;
	font-size: 30px;
	line-height: 40px;
	color: #000000;
	z-index: 1;
	top: 45%;
	width: 100%;
	text-align: center;
	position: absolute;
	transition: visibility 0.5s linear;
}

#dueText {
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
	max-width: 60%;
	top: 40%;
	padding-left: 20%;
	padding-right: 20%;
	text-align: justify;
}

#investText {
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
	max-width: 60%;
	top: 40%;
	padding-left: 20%;
	padding-right: 20%;
	text-align: justify;
}

#assetsText {
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
	max-width: 60%;
	top: 40%;
	padding-left: 20%;
	padding-right: 20%;
	text-align: justify;
}

#geoText {
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
	max-width: 60%;
	top: 40%;
	padding-left: 20%;
	padding-right: 20%;
	text-align: justify;
}

.title-on-image button {
	padding: 0px;
	margin: 0px;
}

.hide-services {
	display: none;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.5s, opacity 0.5s linear;
}

.title-on-image:hover > .hide-services {
	display: inline;
	visibility: visible;
	opacity: 1;
	transition: display 0s, visibility 0s, opacity 0.5s linear;
}

.title-on-image:hover > img {
	opacity: 10%;
	transition: opacity 0.5s linear;
}

.title-on-image:hover > p {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.5s linear;
}

.full-width {
	min-width: 100%;
	max-width: 1800px;
	height: 100%;
	display: block;
}

.contact-us-box {
	background-color: #ffffff;
	min-width: 300px;
	height: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-top: 250px;
}

.form-display {
	padding-top: 20px;
	padding-bottom: 100px;
	width: 100%;
	margin-left: 5%;
	margin-right: 5%;
	position: relative;
	display: inline-flex;
	flex-wrap: wrap;
}

.text-in-box-contact {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	display: block;
}

.div-background {
	background-color: #F1F0EA;
	max-width: 100%;
}

.input-box {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	font-weight: normal;
	border-style: solid;
	border-radius: 0px;
	border: 0px;
	background-color: #F1F0EA;
	outline: none;
	resize: none;
}

.input-box[type="text" i] {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 17px;
	hyphens: auto;
	hyphenate-limit-chars: 9; 
	text-align: justify; 
	word-spacing: -0.5px;
}

.name-email {
	height: 200px;
	width: 270px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.data-field {
	height: 30px;
	width: 250px;
	display: inline-block;
}

.message-box {
	width: 76%;
	height: 193.5px;
	padding-top: 6.5px;
}

.message-field {
	padding: 6px;
	width: 100%;
	height: 76%;
}

.send-button {
	text-decoration: none;
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	width: 116px;
	height: 38px;
	background-color: #900201;
	border: none;
	padding: 0px;
}

.footer {
	background-color: #F1F0EA;
	width: 100%;
	height: 300px;
}

.footer-content {
	max-width: 1800px;
	margin: auto;
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	justify-content: space-between;
}

.logo-contact {
	margin-left: 30px;
	margin-top: 15px;
}

.f-logo {
	font-size: 40px;
	width: 117px;
	height: 50px;
	margin: 0px;
}

.f-l-contact {
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 20px;
	hyphens: auto; 
	word-spacing: -0.5px;
	display: block;
}

.company {
	margin-top: 28px;
	float: right;
	margin-right: 7%;
	text-align: right;
}

.footer-title {
	font-size: 20px;
	display: block;
	margin-right: 0px;
	text-align: right;
}

.f-about {
	font-size: 12px;
	display: block;
	margin-top: 5px;
	margin-right: 5px;
}

.f-contact {
	font-size: 12px;
	display: block;
	margin-top: 5px;
	margin-right: 5px;
}

.f-privacy {
	font-size: 12px;
	display: block;
	margin-top: 5px;
	margin-right: 5px;
}

.website-copyright {
	max-width: 1200px;
	margin: auto;
}

.wc-center {
	text-align: center;
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

.background {
	max-width: 100%;
	max-height: 100vh;
	overflow: hidden;
	position: fixed;
	z-index: -1;
}

.background-image {
	max-height: 100%;
	min-height: 100vh;
	max-width: 200%;
	width: 100%;
}

.privacy-box {
	width: 90%;
	margin: 5%;
	margin-top: 190px;
}

.privacy-headlines {
	width: 100%;
}

#menu-icon {
	display: none;
}

.show-menu {
	display: none;
}

.show-menu-icon {
	display: none;
}

/*
* 1200px
*/

@media (max-width: 1200px) {

	.healine1 {
	}

	.healine2 {
		margin-left: 12.5vw;
	}

	.healine3 {
		margin-left: 25vw;
	}

	.text-box-about {
		background-color: #ffffff;
		min-height: 400px;
		max-width: 76%;
		float: right;
		margin-top: 150px;		
		padding-bottom: 5%;
	}

	.text-in-box-about {
		width: 80%;
		padding-left: 7%;
		padding-right: 7%;
		padding-bottom: 0px;
	}

	.message-box {
		width: 65%;
	}

	.background {
		max-width: 100vw;
		min-width: 100vw;
		max-height: 100vh;
		position: fixed;
		z-index: -1;
	}

	.background-image {
		min-height: 100vh;
		max-height: 100vh;
		min-width: 100vw;
		width: auto;
		object-fit: cover;
		margin: 0px;
		float: left;
	}

}

/*
* 950px
*/

@media (max-width: 950px) {

	.healine1 {
	}

	.healine2 {
		margin-left: 2vw;
	}

	.healine3 {
		margin-left: 4vw;
	}

	.text-in-box-home {
		padding-left: 4%;
		padding-bottom: 4%;
		padding-right: 13%;
	}

	.background {
		max-width: 100%;
		max-height: 100vh;
		position: fixed;
		z-index: -1;
	}

	.message-box {
		width: 100%;
	}

	#dueText {
		max-width: 70%;
		top: 30%;
		padding-left: 15%;
		padding-right: 15%;
	}

	#investText {
		max-width: 70%;
		top: 35%;
		padding-left: 15%;
		padding-right: 15%;
	}

	#assetsText {
		max-width: 70%;
		top: 30%;
		padding-left: 15%;
		padding-right: 15%;
	}

	.background-image {
		max-height: 100%;
		width: auto;
		min-width: 100%;
		object-fit: cover;
		margin: 0px;
		float: left;
	}

}


/*
* 670px
*/

@media (max-width: 670px) {

	.container {
		margin-bottom: 0px;
	}

	#menu {
		position: relative;
		top: 0px;
	}

	#menu-icon {
		display: revert;
		position: fixed;
		object-fit: fill;
		min-height: 0px;
		height: 30px;
		width: 40px;
		right: 30px;
		top: 29px;
	}

	.display-show {
		display: revert;
	}

	.hide-menu {
		display: none;
	}
	
	.show-menu {
		width: 100%;
		height: 104px;
		position: relative;
		display: block;
		top: 0px;
		left: 0px;
	}

	.navigation {
		width: 100vw;
		height: 85px;
		position: fixed;
		top: 0px;
	}

	.show-navBar {
		height: 168px;
	}	

	h1 {
		font-size: 50px;
		width: 100%;
		height: 65px;
		margin: 12.5px 0px -10px 0px;
		text-align:center;
	}

	h2 {
		font-size: 30px;
	}

	a {
		color: #020402;
		font-size: 12px;
		text-decoration: none;
	}

	button {
		width: 100%;
		height: 10px;
		color: none;
	}

	.l {
		width: 85px;
		height: 1px;
		top: revert;
		left: revert;
		margin: auto;
		margin-bottom: 3px;
		position: relative;
	}

	.show-line {
		display: none;
	}

	.below {
		top: 5px;
		width: 82.5px;
	}

	.below2 {
		top: 9px;
		width: 80px;
	}

	.increaseLength {
		width: 80%;
	}

	.menu-row {
		width: 100%;
		min-height: 1px;
		max-height: 22px;
		display: inline-flex;
		justify-content: space-between;
	}

	.home {
		display: inline-flex;
		top: 0px;
		left: 0px;
		width: 32px;
		height: 15px;
		position: relative;
		margin-top: 7px;
		margin-left: 11%;
	}

	.healine1 {
		width: 200px;
	}

	.healine2 {
		width: 200px;
		margin-left: 25vw;
	}

	.healine3 {
		width: 200px;
		margin-left: 50vw;
	}

	.about {
		display: inline-flex;
		left: 0px;
		top: 0px;
		width: 59px;
		height: 15px;
		position: relative;
		float: right;
		margin-top: 7px;
		margin-right: 11%;
		justify-content: space-around;
	}

	.hll {
		display: inline-flex;
		left: 0px;
		top: 0px;
		height: 0.5px;
		width: 70px;
		position: relative;
		margin: 0px;
		margin-top: 11px;
		margin-left: 10%;
	}

	.hlr {
		display: inline-flex;
		left: 0px;
		top: 0px;
		padding: 0px;
		height: 0.5px;
		width: 70px;
		position: relative;
		float: right;
		margin: 0px;
		margin-top: 11px;
		margin-right: 10%;
	}

	.services {
		display: inline-flex;
		top: 0px;
		left: 0px;
		width: 53px;
		height: 15px;
		position: relative;
		margin-top: 11px;
		margin-left: 11%;
	}

	.contact {
		display: inline-grid;
		left: 0px;
		top: 0px;
		width: 68px;
		height: 15px;
		position: relative;
		float: right;
		margin-top: 11px;
		margin-right: 11%;
	}

	.selected {
		font-weight: bold;
	}

	.selected.contact {
		width: 69px;
		left: 0px;
	}

	.text-in-box-home {
		padding-left: 4%;
		padding-bottom: 4%;
		padding-right: 7%;
	}

	.text-box-about {
		background-color: #ffffff;
		min-height: 400px;
		max-width: 100%;
		margin-top: 450px;
		margin-bottom: 0px;
	}

	.text-in-box-about {
		width: 86%;
		padding-left: 7%;
		padding-bottom: 0px;
		padding-right: 7%;
	}

	.contact-us-box {
		margin-top: 450px;
		margin-bottom: 0px;
	}

	.name-email {
		margin-bottom: 10px;
	}

	.data-field {
		height: 30px;
		width: 250px;
		display: inline-block;
	}

	.message-box {
		width: 95%;
		height: 193.5px;
		padding-top: 6.5px;
	}

	.message-field {
		padding: 6px;
		width: 100%;
		height: 76%;
	}

	.send-button {
		margin-top: 20px;
	}

	#dueText {
		max-width: 80%;
		top: 16%;
		padding-left: 10%;
		padding-right: 10%;
	}

	#investText {
		max-width: 70%;
		top: 20%;
		padding-left: 15%;
		padding-right: 15%;
	}

	#assetsText {
		max-width: 80%;
		top: 20%;
		padding-left: 10%;
		padding-right: 10%;
	}

	#geoText {
		max-width: 80%;
		top: 36%;
		padding-left: 10%;
		padding-right: 10%;
	}

	.footer {
		background-color: #F1F0EA;
		width: 100%;
		height: 450px;
	}

	.footer-content {
		max-width: 1800px;
		height: 250px;
		margin: auto;
		padding-top: 60px;
		display: block;
	}

	.logo-contact {
		width: 80%;
		margin: auto;
		text-align: center;
	}

	.f-l-contact {
		text-align: center;
	}

	.f-logo {
		font-size: 40px;
		width: 117px;
		height: 50px;
		margin: 0px;
	}

	.company {
		position: relative;
		display: block;
		width: 100%;
		margin-top: 28px;
		margin-right: 0px;
		text-align: center;
	}

	.footer-title {
		display: block;
		margin-right: 0px;
		text-align: center;
	}

	.f-contact {
		display: block;
		margin-top: 5px;
	}

	.f-about {
		display: block;
		margin-top: 5px;
	}

	.f-privacy {
		display: block;
		margin-top: 5px;
	}

	.website-copyright {
		position: relative;
		max-width: 1200px;
		margin: auto;
	}

	.background {
		max-width: 100%;
		max-height: 100vh;
		position: fixed;
		z-index: -1;
	}

	.background-image {
		min-height: 500px;
		max-height: 600px;
		object-fit: cover;
		margin: 0px;
		float: left;
	}

}

/*
* w: 400px*/

@media (max-width: 670px) and (max-height: 400px) {

	.text-box-about {
		background-color: #ffffff;
		min-height: 400px;
		max-width: 100%;
		margin-top: 250px;
	}

	.text-in-box-about {
		width: 86%;
		padding-left: 7%;
		padding-bottom: 0px;
		padding-right: 7%;
	}

	.background {
		max-width: 100%;
		max-height: 100vh;
		position: fixed;
		z-index: -1;
	}

	.background-image {
		min-height: 500px;
		max-height: 600px;
		object-fit: cover;
		margin: 0px;
		float: left;
	}

}